 // Navbar animation

 @keyframes animNav{
     from{
         transform: translateY(-30px);
         opacity: 0.3;
     }
     to{
         transform: translateY(0);
         opacity: 1;
     }
 }

 @-moz-keyframes animNav{
    from{
        transform: translateY(40px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@-o-keyframes animNav{
    from{
        transform: translateY(40px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
 .animNav{
    animation-name: animNav;
    -webkit-animation-name: animNav;
    -moz-animation-name: animNav;
    -o-animation-name: animNav;
}


 .fadeInUp{
     animation-name: fadeInUp;
     -webkit-animation-name: fadeInUp;
     -moz-animation-name: fadeInUp;
     -o-animation-name: fadeInUp;
 }

//  Home page texts animation 

@keyframes fadeInUp{
    from{
        transform: translateY(40px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@-moz-keyframes fadeInUp{
    from{
        transform: translateY(40px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@-o-keyframes fadeInUp{
    from{
        transform: translateY(40px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

// portfolio animations

@keyframes portfolioAnim{
    from{
        transform: translateY(90px);
        opacity: 0.3;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@-moz-keyframes portfolioAnim{
   from{
       transform: translateY(90px);
       opacity: 0;
   }
   to{
       transform: translateY(0);
       opacity: 1;
   }
}

@-o-keyframes portfolioAnim{
   from{
       transform: translateY(90px);
       opacity: 0;
   }
   to{
       transform: translateY(0);
       opacity: 1;
   }
}
.portfolioAnim{
   animation-name: portfolioAnim;
   -webkit-animation-name: portfolioAnim;
   -moz-animation-name: portfolioAnim;
   -o-animation-name: portfolioAnim;
}


